.receipe-container, .favorites-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .receipe-card, .favorite-card {
    width: 40%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
  }
  
  .receipe-image, .favorite-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .see-more-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .see-more-button:hover {
    background-color: #0056b3;
  }
  