.button-card{
    background-color: aqua;
    border: 2px solid black;
    width: 300px;
    height: 330px;
    margin-left: 630px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 4px 0px 6px 8px lightblue;
   
}
.button-card h2{
   
    margin-left: 50px;
}



.button-onclick button{
   margin-bottom: 10px;
    width: 150px;
    padding: 6px;
    font-size: 22px;
    font-family: cursive;
    margin-left: 60px;
    margin-top: 20px;
    background-color: black;
    color: white;
    
}
.button-onclick button:hover{
    background-color: white;
    color: black;
}